@use '../../../styles/mixins.scss' as mixin;

.navContainer {
  flex: 0 0 23rem;
  background-color: #20293a;
  height: 100vh;

  color: #ffff;
  position: relative;

  // DELETE THIS LATER. this is just to style mobile size without the sidebar
  // @include mixin.phone {
  //   display: none;
  // }
}

.navHeading {
  height: 7.5rem;
  padding: 2rem 0.5rem;
}

.navBrand {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.logoText {
  font-size: 2.3rem;
  letter-spacing: 2px;
}

.logoImage {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.navMenu {
  margin-top: 2rem;
  // width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

//li
.menuItem {
  height: 5rem;
  color: white;
  padding: 0 1.5rem;
  list-style: none;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  transition: all 0.2s ease;
  font-size: 2rem;

  // &:hover {
  //   background-color: rgb(110, 70, 219);
  //   padding-left: 2.6rem;
  // }
}

.menuItemDesktop:hover {
  background-color: rgb(110, 70, 219);
  padding-left: 2.6rem;
}

.activeDesktop {
  background-color: rgb(110, 70, 219);
}

// a
.navMenuLink {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

// icon
.menuIcon {
  color: white;
  margin: 0.5rem 1rem 0 0;
  /* padding: 0 20px; */
  // font-size: 2.2rem;
}

// a span text
.menuText {
  // line-height: 2.2rem;
  // font-size: 2.2rem;
}

// Active Menu
.menuActive {
  // background-color: rgb(110, 70, 219);
}

/************** FOOTER ****************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid #40495a;
  padding: 2rem 1rem;
  align-items: center;
}

.footerUserInfo {
  /* flex: 0 0 40%; */
  width: 65%;
  text-align: left;
  padding: 0 0.5rem 0 1rem;

  > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footerButton {
  text-align: right;
  flex: 1;

  & button {
    font-size: 2rem;
    background-color: transparent;
    color: #8f99ac;
    border: none;
  }
}

.fullNameText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

.emailText {
  font-size: 1.5rem;
  color: #8f99ac;
}

// PHONE NAVIGATION ----------------------------------------------//////////////////////////
@include mixin.phone {
  .navContainer {
    flex: 1;
    background-color: #20293a;
    height: 70px;
    position: relative;

    color: #ffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    // padding: 0 2rem;
  }

  .navHeading {
    display: none;
  }

  .navMenu {
    margin-top: 0;
    // width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
  }

  //li
  .menuItem {
    position: relative;
    height: 70px;
    // width: 20%;
    padding: 0;

    // border-radius: 1rem;
    font-size: 2rem;
  }

  .active {
    & .navMenuLink {
      & .menuIcon {
        transform: translateY(-32px);
      }

      & .menuText {
        opacity: 1;
        transform: translateY(14px);
      }
    }
  }

  // To cancel out the desktop one
  .activeDesktop {
    background-color: #20293a;
  }

  .menuItemDesktop:hover {
    background-color: #20293a;
    padding-left: 0;
  }

  .indicator {
    position: absolute;
    top: -50%;
    height: 70px;
    width: 70px;
    background-color: rgb(83, 83, 236);
    border-radius: 50%;
    border: 6px solid white;
    transition: 0.5s;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -22px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-top-right-radius: 20px;
      box-shadow: 0px -10px 0 0 white;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -22px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-top-left-radius: 20px;
      box-shadow: 0px -10px 0 0 white;
    }
  }

  .navMenu .menuItem:nth-child(1).active ~ .indicator {
    transform: translateX(calc(67px * 0));
  }

  .navMenu .menuItem:nth-child(2).active ~ .indicator {
    transform: translateX(calc(67px * 1));
  }

  .navMenu .menuItem:nth-child(3).active ~ .indicator {
    transform: translateX(calc(67px * 2));
  }

  .navMenu .menuItem:nth-child(4).active ~ .indicator {
    transform: translateX(calc(67px * 3));
  }

  .navMenu .menuItem:nth-child(5).active ~ .indicator {
    transform: translateX(calc(67.5px * 4));
  }
  // a
  .navMenuLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  // icon
  .menuIcon {
    position: relative;
    display: block;
    line-height: 70px;
    font-size: 3rem;
    text-align: center;
    transition: 0.5s;
    color: white;
    z-index: 2;
    margin: 0;
  }

  // a span text
  .menuText {
    position: absolute;
    font-weight: 400;
    letter-spacing: 0.8px;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
  }

  .footer {
    display: none;
  }
}
