.navContainer {
  flex: 0 0 230px;
  background-color: #20293a;
  height: 100vh;

  color: #ffff;
  position: relative;
}

.navHeading {
  height: 75px;
  padding: 20px 5px;
}

.navBrand {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logoText {
  font-size: 23px;
  letter-spacing: 2px;
}

.logoImage {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.navMenu {
  margin-top: 20px;
}

/* NavLink to remove underline on visited links */
.navMenuLink {
  text-decoration: none;
}

.menuItem {
  height: 50px;
  display: flex;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 7px;
  padding: 0 20px;
  border-radius: 10px;
  position: relative;
  align-items: center;
}

.menuItem:hover {
  background-color: rgb(110, 70, 219);
}

.menuItem img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  /* padding: 0 20px; */
}

.menuItem p {
  /* margin: 0; */
  font-size: 13px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

/************** FOOTER ****************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid #40495a;
  padding: 20px 10px;
  align-items: center;
}

.footerUserInfo {
  /* flex: 0 0 40%; */
  width: 65%;
  text-align: left;
  padding: 0 5px 0 10px;

  > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footerButton {
  text-align: right;
  flex: 1;

  > button {
    font-size: 20px;
    background-color: transparent;
    color: #8f99ac;
    border: none;
  }
}

.fullNameText {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.emailText {
  font-size: 15px;
  color: #8f99ac;
}
