.pageWrapper {
    /* margin-left: 305px; */
    padding: 5px 30px;
    width: 100%;
    max-height: 100vh;
    overflow:hidden;
  }
.contactsContainer{
  overflow: scroll;
}
.menuContainer{
  margin: auto;
  height: 4em;
  border-bottom: solid black 2px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2em;
  width: 100%;
  height: 4;
  padding-left: 0;
  margin-top: 0;
  position: relative;
}
.menuLinks{
  height: 2em;
  width: 4.5em;
  font-size: 1em;
  line-height: 2em;
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  color: rgb(20, 19, 19);
  border-bottom: solid 2px transparent;
  cursor: pointer;
}
.menuLinks:hover{
  border-bottom: solid 2px black;
  border-radius: 5px 5px 0 0;
}
.searchBar{
  margin-top: 1em;
  padding: 0em 0.5em 0 1em;
  height: 2em;
  display: flex;
  position: relative;
  z-index: 1;
}
.contactSearchInput{
  display: block;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.contactSearchInput:hover{
  background-color: rgb(236, 236, 236);
}
.contactSearchInput:focus{
  background-color: rgb(236, 236, 236);
}
.searchIcon{
  margin-left: 0.5em;
  font-size: 1.2em;
  height: 1em;
  padding: 0.2em;
  cursor: pointer;
}
.searchResultsContainer{
  position: relative;
  z-index: 0;
  margin-top: 1em;
  height: 78vh;
  border: solid 2px transparent;
  transition: border 0.3s ease-in-out;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
  border: solid red 1px;
}