@use '../../../styles/mixins.scss' as mixin;
.pageWrapper {
  /* margin-left: 305px; */
  // padding: 5px 30px;
  width: 100%;
  // max-height: 100vh;
  height: 100%;
  // overflow-x: hidden;
  overflow: hidden;
  font-family: 'Alata';

  @include mixin.phone {
    padding-bottom: 10rem;
  }
}

.contactsContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  // background-color: red;
  overflow-x: hidden;
}

.menuContainer {
  margin: auto;
  // height: 3rem;
  // width: 100%;
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  flex: 0 0 25%;
  height: 100%;
  padding: 0 2rem;
  position: relative;

  @include mixin.phone {
    padding-top: 1rem;
    flex: 0 0 100%;
    padding: 1rem 0;
  }
}

.menuLinks {
  height: 3rem;
  // width: 8rem;
  font-size: 2rem;
  line-height: 3rem;
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  color: rgb(20, 19, 19);
  border-bottom: solid 2px transparent;
  cursor: pointer;
}

.menuLinks:hover {
  border-bottom: solid 2px black;
  border-radius: 5px 5px 0 0;
}

// just make this pretty later. did a quick .searchBar form just to have them lined up
.searchBar form {
  // padding: 0em 0.5em 0 1em;
  padding: 5px 30px;
  height: 4rem;
  max-width: 40%;
  display: flex;
  position: relative;
  // z-index: 2;
}

.contactSearchInput {
  display: block;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-radius: 5px 0px 0 0;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.contactSearchInput:hover {
  background-color: rgb(236, 236, 236);
}

.contactSearchInput:focus {
  background-color: rgb(236, 236, 236);
}

.searchButton {
  border: none;
  border-radius: 0 5px 0 0;
  background-color: white;
}

.searchButton:hover {
  background-color: black;
  color: white;
}

.searchButton:active {
  background-color: white;
  color: black;
  border: solid black 1px;
}

.searchIcon {
  margin-left: 0.5rem;
  font-size: 2rem;
  height: 2rem;
  cursor: pointer;
}

.searchResultsContainer {
  // position: relative;

  // z-index: 0;
  // margin-top: 5rem;
  // padding: 5rem 0;
  height: 100%;
  border: solid 2px transparent;
  transition: border 0.3s ease-in-out;
  margin-top: 5rem;
  // overflow-y: auto;
  // overflow: hidden;

  @include mixin.phone {
    margin-top: 2rem;
  }
}

.flexFiller {
  flex: 0 0 24.5%;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;

  @include mixin.phone {
    padding: 0 1rem;
  }
}
