.pageWrapper {
    /* margin-left: 305px; */
    padding: 5px 30px;
    width: 100%;
    max-height: 100vh;
    overflow:hidden;
  }
.menuContainer{
  margin: auto;
  height: 3em;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 3em;
  width: 100%;
  height: 2.5em;
  padding-left: 0;
  margin-top: 0;
}
.menuLinks{
  height: 2em;
  width: 3.5em;
  font-size: 1.6em;
  line-height: 2em;
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  color: rgb(20, 19, 19);
  text-transform: uppercase;
  margin: 0 0 0 1em;
  border-radius: 10px;
  border-bottom: solid 2px transparent
}
.menuLinks:hover{
  background-color: rgb(236, 236, 236);
}
.searchBar{
  padding: 2em 2em 0 0em;
}
.contactSearchInput{
  display: block;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid black;
}
.contactSearchInput:hover{
  background-color: rgb(236, 236, 236);
}
.contactSearchInput:focus{
  background-color: rgb(236, 236, 236);
}
.searchResultsContainer{
  margin-top: 1em;
  border: solid red 1px;
  height: 78vh;
  border: solid 2px transparent;
  transition: border 0.1s ease-in-out;
}
.searchResultsContainer:focus{
  border: solid 2px black;
}
.searchResultsContainer:hover{
  border: solid 2px black;
}