.dropdownContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 3rem;
  min-width: 15rem;
  line-height: 3rem;
  margin-left: 1.5rem;
  padding-left: 0;
  text-align: left;
  font-size: 2rem;
}
.menuHiddenHeader {
  font-size: 2rem;
  min-height: 3rem;
  line-height: 3rem;
  padding-left: 4rem;
  cursor: pointer;
}
.menuShownHeader {
  display: none;
}
.menuHiddenItem {
  display: none;
}
.menuShownItem {
  min-height: 2em;
  line-height: 2em;
  min-width: 1em;
  padding-left: 2em;
  background-color: rgba(236, 236, 236, 0.89);
  border: solid transparent 2px;
  border-radius: 5px;
  cursor: pointer;
}
.menuShownItem:hover {
  background-color: rgb(172, 172, 172);
  color: black;
}
.menuShownItem:active {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.menuHiddenFooter {
}
.menuShownFooter {
}
