.boardContainer {
  display: flex;
  width: 100%;
  padding: 20px 15px 10px 15px;
  justify-content: space-between;
  /* height: 50px; */
  align-items: center;
}

.titleContainer {
  flex: 0 0 40%;
  text-align: center;
}

.filterContainer {
  flex: 0 0 30%;
  /* background-color: red; */
  text-align: right;
}

.titleText {
  font-size: 22px;
  text-transform: capitalize;
  color: #343949;
}
