.container {
  padding: 2rem;
  position: relative;
}

.jobInfoForm {
  width: 80%;
  margin: 0 auto;
}

.formGroup {
  width: 100%;
  margin-bottom: 1.5rem;

  > label {
    display: block;
    text-align: left;
  }

  > input[type='text'] {
    width: 100%;
    padding: 0.2rem 0.5rem;
  }

  > textarea {
    width: 100%;
    padding: 0.2rem 0.5rem;
    resize: none;
    height: 20rem;
  }

  text-align: left;
}

.formFlex {
  display: flex;
  gap: 2rem;
}
