.container {
  background-color: #f8fbfe;
  /* width: 100%-250px;
  margin-left: 250px; */
  height: 100%;
  width: 100%;
  overflow-x: auto;
  padding: 0 30px;
  /* padding: 20px 0 20px 10px; */
}

/* LOADING ANIMATION FOR BOARDS LOADER AND MAKE SURE TO MAKE THIS PRETTY LATER*/
.loaderContainer {
  margin-top: 200px;
}

.loaderImg {
}

.loaderText {
  font-size: 20px;
  margin-top: -30px;
}
