.container {
  background-color: #f8fbfe;
  width: 100%-250px;
  margin-left: 250px;
  height: 100%;
  overflow-x: scroll;
  /* padding: 20px 0 20px 10px; */
}

.kanban_container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-direction: row; */
  padding: 10px 30px;
  overflow: hidden;
  /* display: inline-block; */
  width: max-content;
}
