.container {
  background-color: #f8fbfe;
  /* width: 100%-250px;
  margin-left: 250px; */
  /* height: 100%; */
  width: 100%;
  /* padding: 0 30px; */
  overflow-x: hidden;

  /* padding: 20px 0 20px 10px; */
}

.kanbanBoardContainer {
  background-color: #f8fbfe;
  /* width: 100%-250px;
  margin-left: 250px; */
  /* height: 100%; */
  width: 100%;
  padding: 0 30px 15px 30px;
  overflow-x: scroll;
  /* padding: 20px 0 20px 10px; */
}

/* LOADING ANIMATION FOR BOARDS LOADER AND MAKE SURE TO MAKE THIS PRETTY LATER*/
.loaderContainer {
  margin-top: 200px;
}

.loaderImg {
  margin: 0 auto;
}

.loaderText {
  font-size: 20px;
  margin-top: -30px;
}
