/* .content {
  display: flex;
  height: 100%;
  overflow: auto;
} */

.timelineContainer {
  height: 100%;
  padding-top: 1.5rem;
}

.textHeader {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.verticalLine {
  flex: 0 0 7%;
  /* padding-right: 10px; */
  /* background-color: red; */
  /* height: 50px; */
  overflow: hidden;
}

.cardsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
}

.box {
  flex: 0 0 90%;
  padding: 0.6rem 0;
}

.timelineCard {
  /* margin-bottom: 12px; */
  /* width: 100%; */

  background: #d3d3db;
  border-radius: 5px;
  padding: 1rem;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.textUpdateType {
  /* margin: 0 0 5px 0; */
  font-size: 1.4rem;
  font-weight: 500;
}

.textDescription {
  margin: 0;
  font-size: 1.4rem;
  margin: 0 0 0.1rem 0;
}

.textDateCreated {
  margin: 0;
  font-size: 1.2rem;
  text-align: right;
}

/* TIMELINE left line to show timeline */
.topLine {
  width: 0.2rem;
  height: 40%;
  margin: 0 auto;
  border: 2px solid rgb(201, 209, 243);
  background-color: rgb(201, 209, 243);
}

.middleDot {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  background-color: rgb(100, 100, 223);
  border: 3px solid rgb(255, 255, 255);
  margin: 0 auto;
}

.bottomLine {
  width: 0.2rem;
  height: 50%;
  margin: 0 auto;
  background-color: rgb(155, 173, 253);
  border: 2px solid rgb(201, 209, 243);
}

.timelineScroll {
  overflow: auto;
  height: 95%;

  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #e7dddd;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #747171;
  }
}
