/* .content {
  display: flex;
  height: 100%;
  overflow: auto;
} */

.textHeader {
  font-size: 20px;
  text-align: left;
}

.verticalLine {
  flex: 0 0 7%;
  /* padding-right: 10px; */
  /* background-color: red; */
  /* height: 50px; */
}

.cardsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* LOADING ANIMATION FOR TIMELINE LOADER */
.loaderContainer {
  width: 100%;
}

.loaderImg {
  width: 50%;
}

.loaderText {
  margin-top: -20px;
}

.box {
  flex: 0 0 90%;
  padding: 6px 0;
}

.timelineCard {
  /* margin-bottom: 12px; */
  /* width: 100%; */

  background: #d1d1da;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  box-sizing: content-box;
}

.textUpdateType {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.textDescription {
  margin: 0;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.textDateCreated {
  margin: 0;
  font-size: 11px;
}

/* TIMELINE left line to show timeline */
.topLine {
  width: 2px;
  height: 37%;
  margin: auto;
  border: 2px solid rgb(224, 224, 152);
  background-color: rgb(224, 224, 152);
}

.middleDot {
  width: 8px;
  height: 8px;
  border-radius: 33%;
  background-color: green;
  display: inline-block;
}

.bottomLine {
  width: 2px;
  height: 33%;
  margin: auto;
  background-color: rgb(224, 224, 152);
  border: 2px solid rgb(224, 224, 152);
}

.timelineScroll {
  overflow: auto;
  height: 93%;
}

.timelineContainer {
  height: 100%;
}
