/* .content {
  display: flex;
  height: 100%;
  overflow: auto;
} */

.timelineContainer {
  height: 100%;
  padding-top: 15px;
}

.textHeader {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
}

.verticalLine {
  flex: 0 0 7%;
  /* padding-right: 10px; */
  /* background-color: red; */
  /* height: 50px; */
  overflow: hidden;
}

.cardsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.box {
  flex: 0 0 90%;
  padding: 6px 0;
}

.timelineCard {
  /* margin-bottom: 12px; */
  /* width: 100%; */

  background: #d1d1da;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.textUpdateType {
  /* margin: 0 0 5px 0; */
  font-size: 14px;
  font-weight: 500;
}

.textDescription {
  margin: 0;
  font-size: 14px;
  margin: 0 0 5px 0;
}

.textDateCreated {
  margin: 0;
  font-size: 13px;
}

/* TIMELINE left line to show timeline */
.topLine {
  width: 2px;
  height: 40%;
  margin: 0 auto;
  border: 2px solid rgb(201, 209, 243);
  background-color: rgb(201, 209, 243);
}

.middleDot {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: rgb(100, 100, 223);
  border: 3px solid rgb(255, 255, 255);
  margin: 0 auto;
}

.bottomLine {
  width: 2px;
  height: 50%;
  margin: 0 auto;
  background-color: rgb(155, 173, 253);
  border: 2px solid rgb(201, 209, 243);
}

.timelineScroll {
  overflow: auto;
  height: 93%;
}
