.timelineContainer {
  height: 100%;
  padding-top: 1.5rem;
}

.textHeader {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

.verticalLine {
  flex: 0 0 7%;
  overflow: hidden;
}

.cardsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 1rem;
}

.box {
  flex: 0 0 90%;
  padding: 0.6rem 0;
}

.timelineCard {
  background: #d3d3db;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.textUpdateType {
  font-size: 1.3rem;
  font-weight: 700;
}

.textDescription {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.1;
}

.textDateCreated {
  margin: 0.5rem 0 0 0;
  font-size: 1.1rem;
  text-align: right;
  color: rgb(27, 26, 26);
}

/* TIMELINE left line to show timeline */
.topLine {
  width: 1px;
  height: 40%;
  margin: 0 auto;
  border: 2px solid rgb(213, 219, 247);
  background-color: rgb(213, 219, 247);
}

.middleDot {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  background-color: rgb(155, 155, 250);
  border: 3px solid #fefeff;
  margin: 0 auto;
}

.bottomLine {
  width: 1px;
  height: 50%;
  margin: 0 auto;
  background-color: rgb(213, 219, 247);
  border: 2px solid rgb(213, 219, 247);
}

.timelineScroll {
  overflow: auto;
  height: 95%;

  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #e7dddd;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #747171;
  }
}
