.popupWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #483375ea;
}

.popupOuter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.popupBox {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(228, 233, 228);
  width: 50rem;
  height: 12rem;
}

.popupButtons {
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.popupButtons button {
  height: 3.5rem;
  margin-left: 1rem;
}

.textPopup {
  font-size: 1.6rem;
}
