.container {
  text-align: center;
  margin-top: 1rem;
}

.imageBox {
  width: 35%;
  // background-color: red;
  margin: 0 auto;
}

.textBox {
  margin-top: 2rem;
}

.headerText {
  font-size: 2.7rem;
  letter-spacing: 1px;
  color: rgb(179, 163, 163);
}

.subHeaderText {
  font-size: 1.9rem;
  color: rgb(179, 163, 163);
}
