@use '../../../../styles/mixins.scss' as mixin;

.kanbanContainer {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-direction: row; */

  /* overflow: hidden; */
  /* max-height: 100%; */
  height: 100%;

  /* display: inline-block; */
  width: max-content;
}

.addlistContainer {
  background-color: #f2f3f5;
  border-radius: 10px;
  width: 27rem;

  @include mixin.phone {
    width: 25rem;
  }
}

/*************** Column Component **************/
.columnContainer {
  position: relative;
  background-color: #f1f3f7;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 0.5rem;
  width: 27rem;
  padding: 0 0.5rem 4rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

  @include mixin.phone {
    width: 22rem;
    padding: 0 0.5rem 6rem 0.5rem;
  }
}

.header {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  position: relative;
}

.textStatus {
  // margin: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  color: #6c788d;
}

.textTotalJobs {
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: #97a2b6;
  border-radius: 0.5rem;
  line-height: 1;
  font-weight: 600;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.buttonEdit {
  position: absolute;
  right: 1.5rem;
  border: none;
  background-color: transparent;
  color: #97a2b6;
  font-size: 2rem;

  @include mixin.phone {
    // right: 0;
    padding: 0 0 0 1rem;
  }
}

.buttonAddJob {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f3f7;
  color: #6c788d;
  border: none;
  padding: 1rem 2rem;
  text-align: left;

  & span {
    font-size: 2.5rem;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: #e3e5ea;
  }
}

/*************** Jobs Component **************/
.jobBox {
  text-align: left;
  color: #343949;
}

.jobInfoFlex {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.3rem;
  line-height: 1.2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 2rem;
}

.reminders {
  flex: 1;
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: #97a2b6;
  line-height: 1;
}

.textJobTitle {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
}

.textCompany {
  text-transform: capitalize;
  font-size: 1.5rem;

  > i {
    font-size: 1.3rem;
    margin-right: 0.4rem;
  }
}

.textCreated {
  font-size: 1.2rem;
  color: #97a2b6;
}
