/* For Boards Loader */
.textStyle_1 {
  font-size: 2rem;
  margin-top: -3rem;
}

.imageStyle_1 {
  width: 15%;
  margin: 0 auto;
}

/* For Timelines Loader */
.imageStyle_2 {
  width: 50%;
  margin: 0 auto;
}

.textStyle_2 {
  font-size: 1.6rem;
  margin-top: -2rem;
}

/* For Job Loader */
.imageStyle_3 {
  width: 15%;
  margin: 1.5rem auto 0 auto;
}

.textStyle_3 {
  font-size: 2rem;
  margin-top: -3rem;
}
