@use '../../../styles//mixins.scss' as mixin;

.loaderContainer {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: rgb(190, 156, 156);
}

/* For Boards Loader */
.imageStyle_1 {
  width: 15%;
  margin: 0 auto;

  @include mixin.phone {
    width: 35%;
  }
}

.textStyle_1 {
  font-size: 2rem;
  margin-top: -3rem;

  @include mixin.phone {
    font-size: 2.2rem;
    margin-top: -2rem;
  }
}

/* For Timelines Loader */
.imageStyle_2 {
  width: 50%;
  margin: 0 auto;
}

.textStyle_2 {
  font-size: 1.6rem;
  margin-top: -2rem;
}

/* For Job Loader */
.imageStyle_3 {
  width: 15%;
  margin: 1.5rem auto 0 auto;

  @include mixin.phone {
    width: 35%;
    margin: 5rem auto 0 auto;
  }
}

.textStyle_3 {
  font-size: 2rem;
  margin-top: -3rem;

  @include mixin.phone {
    font-size: 2.2rem;
    margin-top: -2rem;
  }
}
