.notesTabContainer {
  padding: 2rem;
  position: relative;
}

.buttonsContainer {
  height: 5rem;
  text-align: right;
  /* background-color: red; */
}

.newNoteButton {
  /* float: right; */
  height: 4rem;
  padding: 0 2rem;
}

.formGroup {
  width: 100%;
  /* background-color: red; */
  border: 1px solid grey;
  border-radius: 7px;
}

.textarea {
  width: 99%;
  height: 10rem;
}

.submitButton {
  display: block;
}

/* NOTES BOX */
.notesBox {
  /* width: 100%; */
  padding: 1.5rem;
  background-color: rgb(238, 238, 210);
  max-height: 23rem;
  /* min-height: 100px; */
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.notesFooter {
  border-top: 1px solid rgb(134, 126, 126);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding-top: 0.5rem;
}

.notesFooter p {
  margin: 0;
}
