.notesTabContainer {
  padding: 1.2rem 2rem;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  height: 75%;
  overflow-y: auto;
}

.buttonsContainer {
  text-align: right;
}

.newNoteContainer {
  margin-top: 3rem;
}

// FORM STYLING
.formButtonsContainer {
  text-align: right;
  margin-top: 1rem;

  input {
    margin-left: 1rem;
  }
}

// NOTES LIST STYLING
.notesContentContainer {
  margin-top: 1rem;
  // overflow-y: scroll;
  // max-height: 100%;
}

/* NOTES BOX */
.notesBox {
  /* width: 100%; */
  padding: 1rem;
  background-color: #fcf7f7;
  // max-height: 23rem;
  /* min-height: 100px; */
  border-radius: 10px;
  margin-bottom: 1.5rem;

  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.notesFooter {
  border-top: 1px solid rgb(230, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 3.5rem;
  padding-top: 0.5rem;
}

.dateText {
  font-size: 1.2rem;
  flex: 1;
  text-align: left;
}

.notesActionsButtons {
  padding-top: 0.2rem;

  input {
    margin-left: 0.6rem;
  }
}
