@use '../../../../../../styles/mixins.scss' as mixin;

.availableContactsContainer {
  margin-top: 2rem;
}

.contactsFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  row-gap: 5rem;

  @include mixin.phone {
    row-gap: 7rem;
  }
}

.buttonContainer {
  margin: 6rem 0 0 0;
  border-bottom: 1px solid rgb(214, 205, 205);
  padding-bottom: 3rem;
}

.headerText {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}

.flexFiller {
  flex: 1;
}
