.availableContactsContainer {
}
.contactsFlex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  row-gap: 5rem;
}

.buttonContainer {
  margin: 2rem 0;
  border-bottom: 1px solid rgb(214, 205, 205);
  padding-bottom: 3rem;
}

.headerText {
  font-size: 2rem;
  color: black;
  font-weight: 500;
}
