.contactsTabContainer {
  padding: 1.2rem 2rem;
  position: relative;
  overflow-y: auto;
  height: 75%;
}

.buttonsContainer {
  // height: 5rem;
  text-align: right;

  input {
    margin-left: 1rem;
  }
}
