.wrapper {
  background-color: #483375ea;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalOuter {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modalContainer {
  height: 85vh;
  max-width: 1100px;
  width: 90%;
  background-color: #fdfdff;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.mainContainer {
  width: 100%;
}

/* BUTTONS IN HEADER SECTION */
.actionButtonsContainer {
  height: 60px;
  /* background: green; */
  display: flex;
  justify-content: end;
  padding: 0 15px;
  align-items: center;
}

.actionButtonsContainer button {
  height: 30px;
  margin-left: 10px;
  width: 70px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(157, 157, 240);
}

/* HEADER SECTION */
.header {
  display: flex;
  padding: 0 35px 50px 35px;
}

.headerLogo {
  width: 80px;
  background: blue;
  height: 80px;
  border-radius: 10px;
}

.headerInfo {
  margin-left: 20px;
  text-align: left;
}

.headerSub {
  display: flex;
}

.textJobTitle {
  text-transform: capitalize;
  font-size: 35px;
  margin: 0 0 5px;
}

.textSub {
  text-transform: capitalize;
  font-size: 20px;

  /* change margin to 0 later and have an icon on the left of the text */
  margin: 0 20px 0 0;
}

.textSub i {
  font-size: 17px;
  margin-right: 2px;
}

/* SUB NAVIGATION SECTION */
.subNavigation {
  /* padding: 0 35px; */
  /* border-bottom: 1px solid black; */
  background-color: #ccccdb;
}

.subNavigationItems {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 50px;
  align-items: center;
}

.subNavigationItem {
  cursor: pointer;
  height: 100%;
  width: 100%;
  line-height: 50px;
  box-sizing: border-box;
  border-top: 2px solid #bdbdcc;
  transition: all 0.3s ease;
}

/* ACTIVE TAB... MAKE THIS PRETTY LATER */
.subNavigationItemActive {
  /* font-size: 20px; */
  font-weight: 600;
  border-top: 2px solid red;
  background-color: #fdfdff;
}

.subNavigationText {
  text-transform: capitalize;
  margin: 0;
  font-size: 17px;
}

.subNavigationText i {
  font-size: 15px;
  margin-right: 5px;
}

/* TIMELINE SECTION */
.timelineContainer {
  width: 350px;
  background: #eeeef3;
  padding: 0 18px;
  height: 100%;
}
