@use '../../../../styles/mixins.scss' as mixin;

.wrapper {
  background-color: #483375ea;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalOuter {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modalContainer {
  height: 85vh;
  max-width: 110rem;
  width: 90%;
  background-color: #ffffff;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 10px;
  overflow: hidden;

  @include mixin.tabPortrait {
    width: 100%;
    // height: 100%;
    top: 50%;
    overflow: scroll;
  }
}

.mainContainer {
  width: 100%;
}

/* BUTTONS IN HEADER SECTION */
.actionButtonsContainer {
  height: 6rem;
  /* background: green; */
  display: flex;
  justify-content: end;
  padding: 0 1.5rem;
  align-items: center;

  // Margin button
  input {
    margin-left: 1rem;
  }
}

// .actionButtonsContainer button {
//   // height: 3rem;
//   margin-left: 1rem;
//   // width: 7rem;
//   border-radius: 5px;
//   padding: 0.5rem 1rem;
//   border: none;
//   background-color: transparent;
//   font-size: 2rem;
//   color: rgb(77, 57, 57);
// }

/* HEADER SECTION */
.header {
  display: flex;
  padding: 0 3.5rem 5rem 3.5rem;

  @include mixin.phone {
    padding: 0 2rem 2rem 2rem;
  }
}

.headerLogo {
  width: 8rem;
  background: rgb(230, 230, 236);
  height: 8rem;
  border-radius: 1rem;
}

.headerInfo {
  margin-left: 2rem;
  text-align: left;
}

.headerSub {
  display: flex;
}

.textJobTitle {
  text-transform: capitalize;
  font-size: 3.5rem;
  margin: 0 0 0.5rem;

  @include mixin.phone {
    font-size: 2.7rem;
  }
}

.textSub {
  text-transform: capitalize;
  font-size: 2rem;

  /* change margin to 0 later and have an icon on the left of the text */
  margin: 0 2rem 0 0;
}

.textSub i {
  font-size: 1.7rem;
  margin-right: 0.2rem;
}

/* SUB NAVIGATION SECTION */
.subNavigation {
  /* padding: 0 35px; */
  /* border-bottom: 1px solid black; */
  background-color: #ccccdb;

  @include mixin.phone {
    overflow-x: auto;
  }
}

.subNavigationItems {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 5rem;
  align-items: center;

  @include mixin.phone {
    width: 130%;
    overflow: hidden;
  }
}

.subNavigationItem {
  cursor: pointer;
  height: 100%;
  width: 100%;
  line-height: 5rem;
  border-top: 2px solid #bdbdcc;
  transition: all 0.3s ease;
}

/* ACTIVE TAB... MAKE THIS PRETTY LATER */
.subNavigationItemActive {
  /* font-size: 20px; */
  font-weight: 600;
  border-top: 2px solid red;
  background-color: #fdfdff;
}

.subNavigationText {
  text-transform: capitalize;
  margin: 0;
  font-size: 1.5rem;
}

.subNavigationText i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* TIMELINE SECTION */
.timelineContainer {
  width: 35rem;
  background: #f1f1f3;
  padding: 0 1rem 0 1.8rem;
  height: 100%;

  @include mixin.phone {
    display: none;
  }
}
