.tasksTabContainer {
  padding: 20px;
  position: relative;
}

.buttonsContainer {
  height: 50px;
  text-align: right;
  /* background-color: red; */
}

.newTaskForm {
  height: 50px;
}

.createTaskButton {
  /* float: right; */
  height: 40px;
  padding: 0 20px;
  margin-left: 10px;
}

.tasksContentContainer {
  display: flex;
  justify-content: space-between;
}

.tasksBox {
  flex: 0 0 45%;
  text-align: left;
}

.completedTasksBox {
  flex: 0 0 45%;
  text-align: left;
}

.taskCard {
  /* background: red; */
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid rgba(213, 238, 250, 0.692);
  border-radius: 5px;
  cursor: pointer;
}

.taskText {
  margin: 0;
}

.completedTaskText {
  margin: 0;
  text-decoration-line: line-through;
}

/* upper case first letter of the text */
.taskText:first-letter {
  text-transform: uppercase;
}
