.tasksTabContainer {
  padding: 1.2rem 2rem;
  position: relative;
}

.buttonsContainer {
  // height: 5rem;
  text-align: right;
  /* background-color: red; */
}

.newTaskForm {
  // width: 90%;
  margin: 3rem auto 1.5rem auto;
  border: 1px solid rgb(238, 228, 228);
  border-radius: 10px;
  padding: 3rem;
}

.formGroup {
  width: 100%;
  text-align: left;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;

  label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2px;
    font-weight: 500;

    span {
      font-weight: 600;
      color: rgb(180, 155, 155);
      font-size: 16px;
    }
  }

  > input,
  textarea {
    width: 100%;
    position: relative;
    cursor: text;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0 1.6rem;
    height: 4rem;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;

    &:focus {
      border-color: #3c4fe0;
      box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
      outline: none;
    }

    &::placeholder {
      color: rgb(212, 190, 190);
    }
  }

  > textarea {
    padding: 1.3rem 1.6rem;
    resize: none;
    height: 10rem;
    font-size: 1.6rem;
  }
}

.formButtonsContainer {
  text-align: right;
  input {
    margin-left: 1rem;
  }
}

.checkInput {
  display: flex;
  gap: 7px;
  cursor: pointer;

  i {
    font-size: 1.4rem;
  }
}

.datePicker {
  font-size: 1.4rem;
  position: relative;
  cursor: text;
  width: 120%;
  line-height: 2rem;
  padding: 0 1.6rem;
  height: 4rem;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  color: rgb(35, 38, 59);
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

.categoriesInput {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > p {
    /* background-color: yellow; */
    // border: 1px solid rgb(221, 186, 186);
    border-radius: 5px;
    padding: 0.6rem 1rem;
    line-height: 1;
    cursor: pointer;
    font-size: 1.4rem;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
}

.selectedCategory {
  background-color: green;
  color: white;
  border: none;
}

.createTaskButton {
  /* float: right; */
  // height: 4rem;
  padding: 0 2rem;
  margin-left: 1rem;
}

/* .tasksContentContainer {
  display: flex;
  justify-content: space-between;
} */

.tasksBox {
  /* flex: 0 0 45%; */
  text-align: left;
  margin-bottom: 5rem;
}

.taskBoxHeaderText {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.completedTasksBox {
  /* flex: 0 0 45%; */
  text-align: left;
}

.taskCard {
  /* background: red; */
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 2px solid rgba(213, 238, 250, 0.692);
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-wrap: wrap;

  // transition: all 0.5s;

  > i {
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 1.4rem;
  }
}

.taskCardInfo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskCardFlexLeft {
  flex: 0 0 40%;
}

.taskCardFlexMiddle {
  // flex: 0 0 25%;
  text-align: center;
}

.taskCardFlexRight {
  flex: 0 0 30%;
  text-align: right;
}

.taskCardFlexBottom {
  border-top: 2px solid rgba(213, 238, 250, 0.692);
  margin-top: 1.3rem;
  flex: 0 0 100%;
  padding: 1rem 0 0 0;

  p {
    font-size: 1.5rem;
  }
}

.taskCardButtons {
  text-align: right;

  input {
    margin-left: 1rem;
  }
}

.taskText {
  margin: 0;
  font-size: 1.6rem;
}

.categoryText {
  background: rgb(14, 139, 14);
  border: 0;
  border-radius: 5px;
  padding: 0.3rem 1.2rem;

  color: white;
  font-size: 1.4rem;
}

.completedTaskText {
  margin: 0;
  text-decoration-line: line-through;
  font-size: 1.6rem;

  > i {
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 1.4rem;
  }
}

.dueText {
  font-size: 1.4rem;
}

/* upper case first letter of the text */
.taskText:first-letter {
  text-transform: uppercase;
}
