/* make this global later on since we are gonna reuse this a lot */
.page_wrapper {
  margin-left: 305px;
}

.boards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.board_box {
  width: 350px;
  height: 200px;
  background-color: red;
  margin-bottom: 20px;
  cursor: pointer;
}

.newboard_box {
  width: 350px;
  height: 200px;
  background-color: grey;
}
