/* make this global later on since we are gonna reuse this a lot */
.pageWrapper {
  /* margin-left: 305px; */
  padding: 5px 30px;
  width: 100%;
}

.boardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flexBox {
  /* width: 350px; */
  flex: 0 0 19%;

  height: 200px;
  /* background-color: red; */
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.flexBoxEmpty {
  flex: 0 0 19%;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}

.boardBox {
  background: rgb(218, 218, 245);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  transition: all 0.2s ease;
}

.textBoardTitle {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
  color: black;
}

.textBoardDateCreated {
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.newBoardBox {
  width: 100%;
  height: 100%;
  background: rgb(233, 233, 238);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.newBoardBox:hover,
.boardBox:hover {
  background: rgb(152, 152, 199);
}

.newBoardButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.editButton {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
