/* make this global later on since we are gonna reuse this a lot */
.pageWrapper {
  /* margin-left: 305px; */
  padding: 0.5rem 3rem;
  width: 100%;
}

.header {
  padding: 1rem 0;
}

.boardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flexBox {
  /* width: 350px; */
  flex: 0 0 19%;

  height: 20rem;
  /* background-color: red; */
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}

.flexboxSpacer {
  flex: 0 0 19%;
  height: 20rem;
  margin-bottom: 2rem;
  position: relative;
}

.boardBox {
  background-color: #f1f3f7;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 1.5rem;
  position: relative;
  transition: all 0.2s ease;
}

.textBoardTitle {
  font-size: 1.7rem;
  margin: 0;
  text-transform: capitalize;
  color: black;
}

.textBoardDateCreated {
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.newBoardBox {
  width: 100%;
  height: 100%;
  background-color: #f1f3f7;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.newBoardBox:hover,
.boardBox:hover {
  background-color: #e3e8ef;
}

.newBoardButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}

.editButton {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  /* padding: 5px 10px; */
  background-color: transparent;
  color: #97a2b6;
  border: 0;
  font-size: 2rem;
  transition: all 0.1s;

  &:hover {
    color: black;
  }
}
