@use '../../../../styles/mixins.scss' as mixin;

.container {
  flex: 0 0 30%;
  /* background-color: red; */
  text-align: left;

  @include mixin.phone {
    flex: 1;
    order: 2;
    font-size: 1.7rem;
  }
}

.formGroup {
  position: relative;

  > input {
    width: 300px;
    padding: 0.7rem 0.5rem 0.7rem 3.5rem;
    border: 1px solid rgb(231, 213, 213);
    border-radius: 5px;
    font-size: 1.4rem;

    @include mixin.phone {
      width: 100%;
    }

    &::placeholder {
      color: rgb(160, 143, 143);
    }

    &:focus {
      border-color: rgb(141, 133, 133);
      outline: none;
    }
  }

  > i {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 1.6rem;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(160, 143, 143);
  }
}
