@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Absolute Center
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 450px       Small Phone
450 - 600px:    Phone
600-900px:      Table portrait
900-1200px:     Table landscape
1200-1800px:    Is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-portrait
- tab-lanscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin smallPhone {
  @media (max-width: 28.125em) {
    @content;
  } // 28.125em = 450px
}

@mixin phone {
  @media (max-width: 37.5em) {
    @content;
  } // 37.5em = 600px
}

@mixin tabPortrait {
  @media (max-width: 56.25em) {
    @content;
  } // 56.25em = 900px
}

@mixin tabLandscape {
  @media (max-width: 75em) {
    @content;
  } // 75em = 1200px
}

@mixin bigDesktop {
  @media (min-width: 112.5em) {
    @content;
  } // 112.5em = 1800px
}

// it only hovers when it's supported
// @mixin hover-supported {
//   @media not all and (hover: none) {
//     @content;
//   }
// }

// FOR LATER USE. SEE IF IT MAKE SENSE TO DO THIS INSTEAD OF INSIDE CSS MODULE -- DELETE IF ITS NOT GONNA BE USED
// .container {
//   padding: 0 2rem;
//   margin: 0 auto;
//   max-width: 1200px;

//   @include respond(tab-landscape) {
//     padding: 0 5rem !important;
//   }

//   @include respond(tab-portrait) {
//     padding: 0 5rem !important;
//   }

//   @include respond(phone) {
//     padding: 0 2.5rem !important;
//   }
// }
