@use '../../../styles/mixins.scss' as mixin;

.popupWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #483375ea;
  top: 0;
  left: 0;
  z-index: 99;
}

.popupOuter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.popupBox {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 55rem;
  padding: 2rem 2rem;
  border-radius: 10px;
  // padding-top: 1.8rem;

  text-align: left;

  @include mixin.tabPortrait {
    width: 70%;
    top: 30%;
  }

  @include mixin.phone {
    width: 80%;
    top: 30%;
  }
}

.popupButtons {
  text-align: right;
  margin-top: 2rem;

  input {
    margin-left: 1rem;
  }
}

.popupMainText {
  font-size: 1.7rem;
  font-weight: bold;
  // Change this font-family later
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;
}

.popupSubText {
  font-size: 1.5rem;
  // font-weight: bold;
  // Change this font-family later
  // font-family: 'Montserrat', sans-serif;
}
