.container {
  width: 250px;
  background-color: rgb(20, 19, 19);
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 10px;
}

.logobox {
  padding: 20px 30px;
  /* background-color: yellow; */
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 25px;
}

.logoImage {
}

.navItems {
  list-style-type: none;
}

.navItem {
  color: rgb(236, 226, 226);
  text-align: left;
  margin-bottom: 20px;
}

.navItemIcon {
  font-size: 15px;
}

.navItemText {
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(236, 226, 226);
}

.navItemTextSub {
  text-decoration: none;
  color: rgb(236, 226, 226);
  line-height: 1.3;
}
